<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <br><br>
  
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="container">
      <br>
      <h3 style="color:slategray;">Login Form </h3>
  
      <form >
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control"  id="username">
          <div class="error">
            <div  style="color: red">Username is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control"  id="pwd">
          <div  class="error">
            <div style="color: red" >Password is required</div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
        <div  class="error">
          <div>Invalid credentials.</div>
        </div>
          
      </form>
      </div>
      </div>
      </div>
      
      
    </div>
  </div>
  </div>

